Language: Cpp
ColumnLimit: 100
UseTab: Never
IndentWidth: 4

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: MultiLine
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: false
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: true
IndentWrappedFunctionNames: true
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: 0
PointerAlignment: Middle
SortIncludes: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
#  AfterExternBlock:true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false

# MSVC still doesn't support these as of 2020-7-24...grumble...
#Standard: Cpp17
#AllowShortBlocksOnASingleLine: SBS_Always
#SplitEmptyNamespace: false
